slicing --> to get sequence of characters from a given collection
--> applicable for string,list,tuple and values of dict
--> without step -->s[si:ei]---- si to ei-1 elements
--> with step --> s[si:ei:step]-----if step is +ve = left to right ,elseif step=-ve -- right to left

In [1]:
s='ramanujan'       #---> without step
print(s[0:3])
print(s[3:1])
print(s[-8:-3])
print(s[-9:-6])
print(s[:])
print(s[2:])
print(s[:5])
print(s[-4:5])
print(s[-4:6])

ram

amanu
ram
ramanujan
manujan
raman

u

In [3]:
s='ramanujan'     #--> with step
print(s[::])
print(s[0:5:])
print(s[0:5:-1])
print(s[5:0:-1])
print(s[7:-5:-1])
print(s[::-1])
print(s[-5::-1])
print(s[::2])
print(s[::-2])
print(s[0:4:3])
print(s[6:4:-1])
print(s[-7:4:2])
print(s[::4])

ramanujan
raman

unama
aju
najunamar
namar
rmnjn
njnmr
ra
ju
m
rnn

In [17]:
l=[1,2,3,'jack sparrow','Wayne Rooney',"Manchester city"]
print(l[0:2])
print(l[2:4])
print(l[4][0:5:1])
print(l[5][11:])
print(l[5:3:-1])
print(l[2::-1])
print(l[4::-2])
print(l[5:2:-2])
print(l[3][5:8])
print(l[4][6:9])
print(l[5][14:10:-1])
print(l[3][0:4])
print(l[3][0:4:3])
print(l[4][6:11:2])
print(l[3][5::2])
print(l[3][::-1])
s1=l[3][5:8:2]
s2=l[3][10:]
print(s1+s2)

[1, 2]
[3, 'jack sparrow']
Wayne
city
['Manchester city', 'Wayne Rooney']
[3, 2, 1]
['Wayne Rooney', 3, 1]
['Manchester city', 'jack sparrow']
spa
Roo
ytic
jack
jk
Roe
sarw
worraps kcaj
saow

In [7]:
l=['jordan','will blake',[300,200,40,'james willson'],{1:{'name':'Meason Mount', 'age':24,'club':'chelsen'}}]
print(l[0][0:3])
print(l[1][0:4])
print(l[2][3][0:5])
print(l[2][2::-1])
print(l[3][1])
print(l[3][1]['name'][7:])
print(list(l[3][1]))
print((list(l[3][1]))[2:0:-1])
print(l[3][1]['club'][:])
print(l[2][0]+l[2][1]+l[2][2])
print((str(l[3][1]['age'])[::-1]))

jor
will
james
[40, 200, 300]
{'name': 'Meason Mount', 'age': 24, 'club': 'chelsen'}
Mount
['name', 'age', 'club']
['club', 'age']
chelsen
540
42

In [13]:
d={1:['onePlus','Apple'],2:{'name1':'venugopal','name2':'Amaresh'},'a':'Anaconda'}
print(d[1][0])
print(d[1][1])
print(d[2]['name1'][0:5])
print(d[2]['name1'][5:])
print(d[2]['name2'])
print(d['a'])
print(d[1][1][::-1])
print(d[1][0][6:2:-1])
print(d[1][::-1])
print(d['a'][0:3])
print(d[2]['name2'][3:])
print(d[2]['name1'][8:5:-1])
print(d[1][1][1:3])
print(d[2]['name2'][6:3:-1])
print(d[1][0]+d[1][1])
print(d[2]['name1'][0:5]+d[2]['name2'][3:])

onePlus
Apple
venug
opal
Amaresh
Anaconda
elppA
sulP
['Apple', 'onePlus']
Ana
resh
lap
pp
hse
onePlusApple
venugresh